{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <div class="font-bold flex items-center justify-center h-screen bg-gradient-to-br from-blue-700 to-blue-200 text-3xl w-screen text-center">
        <p>No existe un proveedor con el id {{id}}</p>
    </div>
{% endblock %}